@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
  }
.test {
  font-size: 5vw;
  text-align: center;
  background: url(../../../../../assets/Front/img/ecomarc/img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


@media (max-width: 768px) {
  .test {
    font-size: 10vw;
    text-align: center;
    background: url(../../../../../assets/Front/img/ecomarc/img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}